/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@keyframes animeLine{
    from{
        width: 0rem;
    }
    to{
        width: 2,8rem;
    }
}
*{
    box-sizing: border-box;
}
body{
    /*background-image: linear-gradient(60deg,#163466,#0e64ea);*/
    background-color: #0e64ea;
    overflow: hidden;
}
h1{
    text-align: center;
}
h1 a{
    font-family: 'Sacramento',  cursive;
    font-size: 2.5rem;
    color: #001b47;
}
h1 a:hover,
h1 a:active,
h1 a:focus{
    transition: 0.5s ease;
    cursor: pointer;
    color: #e0ebfc;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li{
    padding: 0 2rem;
}
a{
    text-decoration: none;
}
header{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
h1 + nav ul{
    font-family:  'Sacramento', cursive;
}
h1 + nav ul li{
    font-weight: bold;
    font-size: 2rem;
    position: relative;
}
h1 + nav ul li:hover,
h1 + nav ul li:active,
h1 + nav ul focus{
    transition: 0.5s ease;
    cursor: pointer;
    color: #e0ebfc;
}
h1 + nav ul li::after{
    content: "";
    display: block;
    position: absolute;
    left: 0rem;
    height: 0.2rem;
    width: 100%;
    z-index: 100;
    margin: 0 auto;
}
h1 + nav ul li:hover::after,
h1 + nav ul li:active::after,
h1 + nav ul li:focus::after{
    transition: 0.5s ease;
    animation: animeLine 0.5s;
    background-color: white;
}
.bio{
    width: 40%;
    margin: 0 auto;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
.bio img{
    min-width: 5rem;
    width: 30%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 7px #000;
}
.bio::after{
    content: ".";
    display: block;
    height: 0px;
    text-indent: 100000px;
    clear: left;
}
.img{
    display: none;
    margin: 0 auto;
    box-shadow: 0px 0px 7px #163466;
    height: 600px;
}
.right{
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    top: 30vh;
    z-index: 1000;
}
.left{
    position: absolute;
    transform: rotate(-90deg);
    left: 0;    
    top: 30vh;
    z-index: 1000;
}
.sliderButton{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 2rem;
}
.sliderButton:hover,
.sliderButton:active{
    transition: 0.2s ease;
    background-color: rgba(218, 225, 237, 0.4);
    border-radius: 50%;
}
.contact{
    position: fixed;
    bottom: 0;
}
form{
    text-align: left;
}
form fieldset legend{
    visibility: hidden; 
}
form fieldset p{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0.7rem auto;
}
form fieldset p label{
    font-size: 1.1rem;
    font-family: "Roboto", "Sans-Serif";
    font-weight: normal;
}
form fieldset p.textarea{
    font-family: "Roboto", "Sans-Serif";
    font-weight: normal;
}
form fieldset p textarea{
    height: 15rem;
}
form fieldset p input[type="submit"]{
    margin: 0 auto;
    font-family: "Roboto", "Sans-Serif";
}
small p,
input[type="submit"]{
    font-family: "Roboto", "Sans-Serif"; 
    font-weight: normal;
}
footer{
    position: fixed;
    z-index: 2000;
    bottom: 0rem;
    height: 8rem;
    width: 100%;
    background-color: #163466;
}
.footer a{
    line-height: 8rem;
}
.footer a:hover{
    transition: ease 0.5s;
    color: #fff;
}
.iconsFooter{
    color: #0e64ea;
    font-size: 2rem;
}
.iconsFooter:hover,
.iconsFooter:focus,
.iconsFooter:active{
    transition: 0.5s ease;
    cursor: pointer;
    color: #e0ebfc;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 700px) {
    ul{
        flex-direction: column;
        text-align: center;
    }
    h1 + nav ul li:hover::after,
    h1 + nav ul li:active::after,
    h1 + nav ul li:focus::after{
        margin: 0 auto;
    }
    ul.ulFooter {
        flex-direction: row;
    }.img{
        height: 250px;
    }
    p{
        color: red;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}